<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISkateboardService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52860/SkateboardService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISkateboardService"
                contract="SkateboardServiceReference.ISkateboardService" name="BasicHttpBinding_ISkateboardService" />
        </client>
    </system.serviceModel>
</configuration>